/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.basic-info-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2.5fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 2px;
  text-align: left;
  width: 100%;
}

  .basic-info-wrapper > div {
    border: 1px solid black;
    padding: 3px;
  }

.extended-info-wrapper {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 2px;
  width: 750px;
}

  .extended-info-wrapper > div {
    border: 1px solid black;
    padding: 3px;
  }
